/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
  position: relative;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.swiper-Btn {
  color: #008080;
  transition: color 0.3s ease;
  background-color: white;
  border-radius: 50%;
  position: absolute;
}

.swiper-btn-next {
  right: 50px;
  top: 40%;
  z-index: 1;
}
.swiper-btn-prev {
  left: 50px;
  top: 40%;
  z-index: 1;
}
.swiper-pagination-bullet {
  background-color: #6e93f7;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #4070f4;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}
